.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

    @media (min-width: 768px) {
        padding: 0 120px;
    }
    h1 {
        // text-transform: uppercase;
        margin-bottom: 140px;
        .whitespace {
            display: inline-block;
            width: 1vw;
        }
    }
}